<nav class="navbar navbar-dark navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    < class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink=" /add-trip">Add Trip</a>
        </li>
      </ul>
      <div class="navbar-nav d-flex">
          <a *ngIf="isLoggedIn(); else logIn" class="nav-link" routerLink="/logout">Log Out</a>
          <ng-template #logIn>
            <a class="nav-link" routerLink="/login">Log in</a>
          </ng-template>
    </div>
  </div>
</nav>
<div class="container-fluid mt-4 mr-4 ml-4">
  <router-outlet></router-outlet>
</div>
